/* fonts */
@font-face {
  font-family: sf-pro-display_regular;
  src: url("../assets/fonts/sf-pro-display_regular.woff2");
}

@font-face {
  font-family: sf-pro-text_regular;
  src: url("../assets/fonts/sf-pro-text_regular.woff2");
}

/* variables */
:root {
  --light-txt-color: #fefbfb;
  --dark-color: #1d1d1f;
  --btn-color: #0a6cce;
  --nav-txt-color: #b2b0b0;
}

/* navbar */
.navbar {
  background: #333030;
  position: sticky;
  top: 0;
  left: 0;
}

.navbar__info {
  display: flex;
  justify-content: center;
}

.navbar__info .navbar__info--item,
.navbar__info--bag {
  overflow: auto;
}

.navbar__info .navbar__info--item {
  padding: 1.5rem 2.5rem;
  color: var(--nav-txt-color);
}

.navbar__info--bag {
  padding: 0.3rem 2rem 0 2rem;
}

.navbar__info .navbar__info--item .navbar__info--link {
  color: var(--nav-txt-color);
  font-family: sf-pro-display_regular;
  font-size: 1.4rem;
}

.navbar__info .navbar__info--item .navbar__info--link:hover {
  color: #ffffff;
}

.navbar__info--icon {
  font-size: 1.8rem;
  padding-top: 0;
}

/* shop now */
.shop_now {
  background: #e34140;
  display: flex;
  justify-content: center;
}

.shop_now p {
  color: var(--light-txt-color);
  font-family: sf-pro-display_regular;
  font-size: 1.6rem;
  padding: 1.5rem 0;
}

.shop_now p i {
  font-size: 1rem;
}

.shop_now p a {
  color: var(--light-txt-color);
  padding: 0 0.5rem;
}

/* main utilits */
main {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.page {
  height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sf-pro-text_regular;
  cursor: pointer;
}

.page__mainText,
.page__secondaryText {
  color: var(--dark-color);
  text-align: center;
}

.page__mainText {
  font-size: 5rem;
  margin: 5.5rem 0 0.5rem 0;
}

.page__secondaryText {
  font-size: 2.5rem;
  padding-top: 1rem;
}

.page__info--button,
.page__info--button a {
  color: var(--btn-color);
}

.page__info--button {
  font-size: 1.3rem;
  font-weight: 100;
  justify-content: center;
}

.page__info--button--item {
  float: left;
  overflow: auto;
  padding: 2rem;
}

.page__info--button a {
  font-size: 2rem;
  padding-right: 0.5rem;
}

/* pages 1, 2, 3 */
.page1 {
  background: #eeeffe;
  justify-content: space-around;
}

.page1__info,
.page2__info,
.page3__info {
  text-align: center;
}

.page1__info h1 {
  margin: 2.2rem 0 1.5rem 0;
}

.page2 {
  background: url("../assets/img/page2_img.jpg") no-repeat center center/cover;
}

.page2__info,
.page3__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page3 {
  background: url("../assets/img/page3_img.jpg") no-repeat center center/cover;
}

.page3 .page3__info .page__mainText {
  color: #f5f5f7;
}

.page3 .page3__info .page__secondaryText {
  color: #fec2eb;
}

.page3 .page3__info .page__info--button,
.page3 .page3__info .page__info--button a {
  color: #2a92f6;
}

/* middle */
.middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

.middle .page__mainText {
  font-size: 4rem;
  margin: 5.5rem 0 0rem 0;
}

.middle .page__secondaryText {
  font-size: 2rem;
}

.middle .page__info--button {
  font-size: 1rem;
}

.middle .page__info--button a {
  font-size: 1.7rem;
}

.middle .page__info--button--item {
  padding: 1rem;
}

.middle__info1 {
  background: url("../assets/img/section1_img.jpg") no-repeat center
    center/cover;
}

.middle__info2 {
  background: url("../assets/img/section4_img.jpg") no-repeat center
    center/cover;
}

.middle__info2--new {
  color: #cf7a48;
  font-size: 1.3rem;
  padding: 3rem 0 1rem 0;
  font-family: sf-pro-text_regular;
  font-weight: 500;
}

.middle__info3 {
  background: url("../assets/img/section3_img.jpg") no-repeat center
    center/cover;
}

.middle__info4 {
  background: url("../assets/img/section2_new_img.jpg") no-repeat center
    center/cover;
  padding-top: 5.5rem;
}

.middle__info5 {
  background: url("../assets/img/section5_img.jpg") no-repeat center
    center/cover;
  padding-top: 5.5rem;
}

.middle__info6 {
  background: url("../assets/img/section6_img.jpg") no-repeat center
    center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5.5rem 0 3.9rem 0;
}

.middle__info6 .page__info--button {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;
}

.middle__info6 .page__info--button,
.middle__info6 .page__info--button a {
  color: var(--light-txt-color);
}

/* footer */
footer {
  background: #f5f5f7;
}

.footerContainer {
  width: 65vw;
  margin: auto;
  padding: 1.5rem 0 3rem 0;
}

.footerContainer p {
  padding: 0.5rem 0;
  line-height: 1.4;
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 2px solid #e3e3e7;
  margin-top: 1rem;
}

.footer__lower--items,
.footerContainer p,
.footer__links .footer__links__column {
  font-family: sf-pro-text_regular;
}

.footer__links .footer__links__column,
.footer__links .footer__links__column li,
.footer__lower--items {
  line-height: 1.6;
}

.footer__links .footer__links__column .footer__links__column--title {
  font-weight: 600;
  padding-top: 2rem;
}

.footer__links .footer__links__column li {
  padding-top: 1rem;
}

.footerContainer p a,
.footer__links .footer__links__column .footer__links__column--title,
.footer__links .footer__links__column li a,
.footer__lower--items .footer__lower--items--middle a,
.footer__lower--items .footer__lower--items--right a {
  color: #42424b;
}

.footer__lower {
  border-bottom: 2px solid #e3e3e7;
  margin-top: 3rem;
}

.footerContainer .footer__lower a {
  color: var(--btn-color);
}

.footer__lower--items {
  display: grid;
  grid-template-columns: 1.3fr 2.2fr 1fr;
  padding-top: 1rem;
}

.footerContainer p,
.footer__lower--items .footer__lower--items--left,
.footer__lower--items .footer__lower--items--middle,
.footer__lower--items .footer__lower--items--right {
  color: #6e747f;
}

.footerContainer p,
.footer__links .footer__links__column .footer__links__column--title,
.footer__links .footer__links__column li,
.footer__lower--items .footer__lower--items--left,
.footer__lower--items .footer__lower--items--middle,
.footer__lower--items .footer__lower--items--right {
  font-size: 1.2rem;
}

.footer__links .footer__links__column,
.footer__lower--items,
.footer__lower--items .footer__lower--items--middle,
.footer__lower--items .footer__lower--items--right {
  overflow: auto;
}

.footer__lower--items .footer__lower--items--right {
  text-align: right;
}

.footer__lower--items .footer__lower--items--middle a,
.footer__lower--items .footer__lower--items--right a {
  padding: 0 0.8rem;
}

/* a links & hover */
.navbar__info .navbar__info--item .navbar__info--link,
.shop_now p a,
.page__info--button a,
.footerContainer p a,
.footer__links .footer__links__column li a,
.footerContainer .footer__lower a,
.footer__lower--items .footer__lower--items--middle a,
.footer__lower--items .footer__lower--items--right a {
  text-decoration: none;
}

.shop_now p a:hover,
.page__info--button a:hover,
.footerContainer p a:hover,
.footer__links .footer__links__column li a:hover,
.footer__lower--items .footer__lower--items--middle a:hover,
.footer__lower--items .footer__lower--items--right a:hover {
  text-decoration: underline;
}
